<div class="header">
  <div class ="container head-text">
    <h3>Welcome to Prestige Worldwide</h3>
    <p>Floating success palaces for hire</p>
    <button type="button" class="btn btn-outline-success">Book a prestige Yacht now!</button>
  </div>

</div>
<div class="main container">
  <h3 class="featured">Succeed with Prestige Worldwide</h3>
  <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic sapiente voluptatibus doloribus ea ipsam recusandae repellendus, ratione esse! Molestiae, repellendus? Nostrum sint aut sequi aspernatur doloremque. Accusamus quia in quaerat iusto pariatur id ducimus, porro velit impedit voluptate quas, maxime exercitationem debitis non soluta culpa ratione! In id architecto, a!</p>

  <h3 class="featured">Featured yachts for hire:</h3>

  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="yacht card">
        <img src="https://source.unsplash.com/random/?yacht" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Yacht title</h5>
          <p class="card-text">Yacht description goes here.</p>
          <button type="button" class="btn btn-outline-success">Link to yacht page</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="yacht card">
        <img src="https://source.unsplash.com/random/?yacht" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Yacht title</h5>
          <p class="card-text">Yacht description goes here.</p>
          <button type="button" class="btn btn-outline-success">Link to yacht page</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="yacht card">
        <img src="https://source.unsplash.com/random/?yacht" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Yacht title</h5>
          <p class="card-text">Yacht description goes here.</p>
          <button type="button" class="btn btn-outline-success">Link to yacht page</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="yacht card">
        <img src="https://source.unsplash.com/random/?yacht" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Yacht title</h5>
          <p class="card-text">Yacht description goes here.</p>
          <button type="button" class="btn btn-outline-success">Link to yacht page</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <div class="main container">
  <h3 class="featured">Invest in Prestige worldwide</h3>
    <p>We're much more than just quality boats, we offer a range of services for the discerning individual and with fast plans for global expansion on all seven continents we're looking for investment now. View our investment pitch now!</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/DQDVDOKuA-I" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p><a href="mailto: yourasmartcookie@prestigeworldwide.com"><button type="button" class="btn btn-outline-success">Learn more about invesitng</button></a></p>
  </div>
</div>
<%= link_to "Log out", destroy_user_session_path, method: :delete %>
    <%= link_to "Login", new_user_session_path %>
