<h1>List of all the Yacht</h1>
<% @yachts.each do |yacht| %>
<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url()">
    <p>Name: <%= yacht.yacht_name %></p>
    <p>$<%= yacht.cost_per_night %>/night</p>
    <p>Location: <%= yacht.yacht_location %></p>
    <p class="view_yacht"><%= link_to "View Yacht", yacht_path(yacht) %></p>
  </div>
</div>
<% end %>




