.card-body {
  color: black;
}

.card-header {
  color: black;
}

.card {
  margin-top: 20px;
  opacity: 0.85;
}

.card-footer {
  color: black;
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(255,255,255,0.2);
  color: black;
  opacity: 0.9;
}

.card-trip > img {
  height: 500px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 16px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -40px;
  width: 80px;
}
