.navbar-lewagon {
  justify-content: space-between;
  color: #e6e8e6;
  background-color: #406E8E;
  box-shadow: 0 2px 2px -2px #000F08;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-toggler-icon {
  background-color: white;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  border: 2px, solid, white
}

.circle-icon {
    background: #e6e8e6;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    color: #406E8E
}

.circle-icon:hover {
  background: #406E8E;
  color: #e6e8e6;
}


.navbar-light .navbar-nav .nav-link {
  color: #e6e8e6;
  margin-right: 10px
}

.navbar-light .navbar-nav .nav-link:hover {
  background-color: #e6e8e6;
}
